@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url("background.jpg")  no-repeat fixed ;
    background-size: cover;
   
}
.cards{
    display:list-item;
    display:inline-block;
   
}
.menuHeading{
    width: 570px;
    border: 1px solid black;
    background-color: #ffdc89be;
}
.cartHeading{
    width: 505px;
    border: 1px solid black;
    background-color: #ffdc89be;
   

}
.listItems{
    border: 1px solid black;
}
